.notification {
    display: block;
    width: 450px;
    background-color: #229933;
    border-radius: 5px;
    padding: 10px;
}

.error {
    display: block;
    width: 450px;
    background-color: #BB2222;
    border-radius: 5px;
    padding: 10px;
}